body,html{
    margin: 0;
    padding: 0;
}


.ad_box{
    height: 250px;
    width: 300px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.img1,.img2,.img3,.img4{
    position: absolute;
    top: 0;
    left: 0;
}

.hidden{
    display: none;
}




.fadeOut {
    animation-name: fadeOut;
    animation-duration: 2s;
    animation-fill-mode: both
}

@keyframes fadeOut {
    to { opacity: 0.3;}
}



.fadeIn {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: both
}



@keyframes fadeIn {
    from {
        opacity: 0
    }
}

.buttons{
    z-index: 99999999;
    position: absolute;
    bottom: 0;
    left: 35px;
    animation: shake 3s infinite ease-out;
}

@keyframes shake {
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.9);
    }
}